@using System.Globalization
@using Bibliothèque.Models.Stock;

@model List<Livre>
@{
    ViewBag.Title = "Index";
}

<h2>Catalogue</h2>


<div>
    <table>
        <thead>
            <tr class="row" style="text-align: center">
                <th class="col-xs-3">Titre de l'ouvrage</th>
                <th class="col-xs-3">Auteur</th>
                <th class="col-xs-3">Etat</th>
            </tr>
        </thead>
        <tfoot>
            <tr style="font-weight: bold">
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
       @foreach (var livre in Model)
       {
        @Html.DisplayFor(modelItem => livre.nomLivre)
        @Html.DisplayFor(modelItem => livre.nomAuteur)
        @Html.DisplayFor(modelItem => livre.prenomAuteur)
       }
        </tbody>
    </table>

</div>



