
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue sur le site de la Bibliothèque !</h2>

<a href="Utilisateur/Index" class="btn btn-success btn-default">S'indentifier</a>
<a href="Catalogue/Index" class="btn btn-primary btn-default">Accéder au catalogue</a>



