
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue sur le site de la Bibliothèque !</h2>

<div class="btn btn-success btn-default">@Html.ActionLink("Se connecter", "Index", "Utilisateur/Index")</div>
<div class="btn btn-primary btn-default">@Html.ActionLink("Accéder au catalogue", "Index", "Ouvrage/Index")</div>



